.section {
    height: auto;
    background-image: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    h1 {
        margin-bottom: 0px;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        color: #ffffff;
    }
}