<section class="section">
  <div class="section-content">
    <div class="img-part">
        <img src="../../assets/images/esraa.jpg" alt="">
    </div>
    <div class="info-part">
        <h3>HELLO EVERYBODY, I AM</h3>
        <h1>Esraa Kamel</h1>
        <h3>Junior Full Stack Javascript Web Developer</h3>
        <ul class="details">
          <li class="phone">
            <a href="tel:+201091814386">
              <i class="phone-item"></i>
              +201091814386
            </a>
          </li>
          <li class="email">
            <a href="mail:esraa.kamel1811@gmail.com">
              <i class="email-item"></i>
              esraa.kamel1811@gmail.com
            </a>
          </li>
        </ul>
    </div>
  </div>
</section>
